.reOrderContainer {
  display: flex;
  width: 500px;
}

.reOrderBtn {
  padding: 10px;
  margin-left: auto;
}

.reOrderTitle { 
  padding: 10px;
  margin-right: auto;
  margin-left: 35%;
  color: gray;
}

.surveyTitle {
  font-weight: bold;
}